$dark-blue: hsl(233, 47%, 7%);
$desaturated-blue: hsl(244, 38%, 16%);
$soft-violet: hsl(277, 64%, 61%);
$violet: hsl(277, 64%, 41%);

$white: hsl(0, 0%, 100%);
$fade-white: hsla(0, 0%, 100%, 0.75);
$fader-white: hsla(0, 0%, 100%, 0.6);
